.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #ecf0f1;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.board-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 20px;
  align-items: center;
}

.found-container {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  margin-right: 20px;
  align-items: center;
}

.board {
  display: grid;
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  cursor: pointer;
  line-height: 30px;
  color: #ecf0f1;
}

.cell.selected {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.cell.found {
  background-color: #8bc34a;
  color: white;
  pointer-events: none;
}

.controls-container {
  width: 300px;
  max-width: 300px;
  margin-left: 20px;
}

.found-words,
.timer,
.controls {
  margin-bottom: 20px;
}

.found-words ul {
  list-style-type: none;
  padding: 0;
}

button {
  width: 100%;
  padding: 10px 20px;
  background-color: #2980b9;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3498db;
}

.controls button {
  margin-bottom: 10px;
  margin-right: 10px;  
}

.controls button:last-child {
  margin-right: 0; 
}

.instruction-board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.instruction-row {
  display: flex;
}

.instruction-cell {
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6; 
  animation: highlight 3s ease-in-out infinite; 
}

.instruction-cell:nth-child(1) {
  animation-delay: 0s; 
}

.instruction-cell:nth-child(2) {
  animation-delay: 0.2s; 
}

.instruction-cell:nth-child(3) {
  animation-delay: 0.4s; 
}

.instruction-cell:nth-child(4) {
  animation-delay: 0.6s;
}

.instruction-cell:nth-child(5) {
  animation-delay: 0.8s;
}

.instruction-cell:nth-child(6) {
  animation-delay: 1s;
}

.instruction-cell:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes highlight {
  0% {
    opacity: 0.6; 
  }
  100% {
    opacity: 1; 
    background-color: #f39c12; 
  }
}

.instruction-cell:hover {
  background-color: #f39c12;
  cursor: pointer;
}

.instruction-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
}

.delay-4 {
  animation-delay: 4s;
}

.delay-5 {
  animation-delay: 5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.instruction-board {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  animation: slideUp 1s ease-out forwards;
}

.instruction-row {
  display: flex;
}

.instruction-cell {
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.6;
  background-color: #34495e;
  transition: background-color 0.3s;
}

.instruction-cell:hover {
  background-color: #f39c12;
  cursor: pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2980b9;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3498db;
}

